# entorno local
.env
.venv/
venv/

# artefactos python
**/__pycache__/
**/*.py[cod]
**/__init__.py
!panelexemys/src/dao/__init__.py
!shared/timeauthority-pkg/src/timeauthority/__init__.py
**/.pytest_cache/
**/.mypy_cache/
**/*.egg-info/
**/node_modules/
**/dist/
*.tsbuildinfo

# datos y temporales de runtime
volumes/**/*
/panelexemys/src/assets/topologia.png
*.db
*.db-journal
*.log
*.pid

# basura del sistema
Thumbs.db
